:root.kawaii {
    /*--text: #ffffff;*/
    /*--background: #1a0e17;*/
    /*--primary: #e6add5;*/
    /*--secondary: #271122;*/
    /*--accent: #b3519a;*/

    --background: #1e101d;
    --loader-color: #e6add5;
    /*--text-color: rgba(255,255,255,0.7);*/
    /*--inverted-text-color: rgba(0,0,0,0.7);*/
    /*--link-hover-color: var(--text-color);*/
    /*--subheader-link-color: rgba(255,255,255,0.5);*/
    --color-error: #e6add5;
    --alert-list-color: #b3519a;
    /*--label-color: black;*/
    /*--header-background: rgba(49,50,53,0.5);*/
    /*--tab-container-background-desktop: var(--header-background);*/
    /*--tab-container-background-mobile: rgba(49,50,53,1);*/
    /*--tab-container-background: var(--tab-container-background-desktop);*/
    /*--table-header-background: rgba(255,255,255,0.08);*/
    /*--table-row-background: rgba(255,255,255,0.16);*/
    --alert-zone-color: #b3519a;
    /*--fresh-zone-color: #76552b;*/
    /*--no-alert-zone-color: #1a2636;*/
    /*--recent-alert-zone-color: #1a1c36;*/
    /*--main-color: var(--alert-zone-color);*/
    /*--safe-color: #2b762d;*/
    /*--non-safe-color: var(--color-error);*/
    /*--tab-background: var(--table-header-background);*/
    /*--tab-text-color: var(--text-color);*/
    /*--active-tab-background-color: var(--main-color);*/
    /*--active-tab-color: var(--text-color);*/
    /*--new-item-background-color: #8e6b15;*/
    /*--warning-background-color: rgba(249,168,37,0.3);*/
    /*--warning-text-color: var(--active-tab-color);*/
    /*--positive-background-color: rgba(85,122,65,0.78);*/
    /*--right-panel-background-color: rgba(58,59,60,0.57);*/
    /*--right-panel-border-color: rgba(58,59,60,0.47);*/
    --active-region-color: #e6add5;
    --active-region-darker-color: #b3519a;
    --active-region-border-color: #271122;
    --default-region-color: rgba(49, 20, 48, 0.9);
    /*--default-region-border-color: rgba(255,255,255,0.2);*/
    /*--fresh-region-color: rgba(25,28,56,0.9);*/
    /*--fresh-region-border-color: var(--fresh-region-color);*/
    /*--artillery-shelling-zone-color: #ff7b00;*/
    /*--artillery-shelling-zone-label-color: var(--artillery-shelling-zone-color);*/
    /*--urban-fights-zone-color: #4e3cb4;*/
    /*--disabled-region-color: #37383a;*/
    /*--disabled-region-border-color: var(--default-region-border-color);*/
    /*--selected-region-color: #3b75bf;*/
    /*--selected-region-border-color: var(--selected-region-color);*/
    /*--no-info-zone-color: var(--disabled-region-color);*/
    /*--warning-zone-color: #ffce34;*/
    /*--duration-active-zone-color: #c3483e;*/
    /*--chemical-zone-color: #b7ea35;*/
    /*--chemical-zone-border-color: #4e611e;*/
    /*--nuclear-zone-color: #000;*/
    /*--nuclear-zone-border-color: #fff;*/
    /*--dark-active-region-color: #90261d;*/
    /*--label-border-color: #2f2d2d;*/
    /*--button-background-color: #8f571a;*/
    /*--donate-button-background-color: rgb(78,97,30,0.4);*/
    /*--select-option-background-color: #414143;*/
    /*--info-zone-color: #bebebe;*/
    /*--info-background-color: #bebebe;*/
    /*--history-divider: rgba(32,34,34,0.78);*/
    /*--history-chart-time-background: rgba(255,255,255,0.01);*/
    /*--neighbour-region-color: #795548;*/
    /*--neighbour-region-color-ru: var(--neighbour-region-color);*/
    /*--neighbour-region-color-by: var(--neighbour-region-color-ru);*/
    /*--sea-region-color: var(--color-2);*/
    /*--dnipro-region-color: rgba(52,115,248,1);*/
    /*--color-1: rgba(213, 255, 126, 0.9);*/
    /*--color-2: rgba(133, 174, 255, 0.9);*/
    /*--color-4: rgba(255, 221, 142, 0.9);*/
    --color-3: rgba(179, 81, 154, 0.9);
}

:root.light {
    /*--text: #260323;*/
    /*--background: #fcd9f9;*/
    /*--primary: #dd92d7;*/
    /*--secondary: #f6bbf1;*/
    /*--accent: #c511b6;*/

    --background: #fcd9f9;
    --text-color: rgba(38, 3, 35, 0.7);
    --inverted-text-color: rgba(255, 255, 255, 0.7);
    --color-1: rgba(213, 255, 126, 0.9);
    --color-2: rgba(133, 174, 255, 0.9);
    --color-4: rgba(255, 221, 142, 0.9);
    --color-3: rgba(230, 173, 213, 0.9);
}

.animegirl {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 60px;
    width: 20em;
}

.kawaii .animegirl {
    display: block;
}